
@media (min-width: 768px) {
    #wrapper {
        padding-right: 225px;
        padding-left: 0;
    }

    .side-nav {
        right: 0;
        left: auto;
        height: 85vh;
        overflow-x: hidden;
        /*direction: ltr;*/
    }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

@font-face {
    font-family: 'iranian_sansregular';
    src: url('Fonts/irsans.eot');
    src: url('Fonts/irsans.eot?#iefix') format('embedded-opentype'), url('Fonts/irsans.woff2') format('woff2'), url('Fonts/irsans.woff') format('woff'), url('Fonts/irsans.ttf') format('truetype'), url('Fonts/irsans.svg#iranian_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.form-horizontal .control-label {
    /*text-align: right;*/
}

body {
    font-family: 'iranian_sansregular';
    font-size: 16px;
}

.ltr {
    direction: ltr !important;
}

input.ng-dirty.ng-invalid {
    border: 1px solid #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -ms-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

    input.ng-dirty.ng-invalid:focus {
        border-color: #843534;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
    }

div.ng-dirty.ng-valid, input.ng-dirty.ng-valid {
    border-color: #3c763d !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -ms-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

    input.ng-dirty.ng-valid:focus {
        border-color: #2b542c;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #67b168;
    }


.validation-summary-errors {
    color: red;
}


input[type='number'] {
    -moz-appearance: textfield;
}

/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


::-webkit-input-placeholder {
    font-size: 12px;
}

:-moz-placeholder { /* Firefox 18- */
    /*color: red;*/
}

::-moz-placeholder { /* Firefox 19+ */
    /*color: red;*/
}

:-ms-input-placeholder {
    /*color: red;*/
}

.table tbody > tr > td {
    vertical-align: middle !important;
    text-align: center;
}

.table.th-center th {
    text-align: center;
}

th[st-sort] {
    cursor: pointer;
}



.well-simple {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    border-color: #ddd;
    border-color: rgba(0,0,0,.15);
}



.form-horizontal .has-feedback.ltr .form-control-feedback {
    right: 15px;
    left: auto;
}

.has-feedback.ltr .form-control {
    padding-left: 12px;
    padding-right: 42.5px;
}

.popover {
    font-family: inherit;
    max-width: 80%;
    margin: 0 auto;
    position: relative;
}

    .popover.bottom > .arrow {
        direction: rtl;
    }

.navbar-header {
    height: 80px;
}


.navbar {
    -webkit-box-shadow: 0 0 4px #323232;
    -webkit-box-shadow: 0 0 4px rgba(50,50,50,.75);
    -ms-box-shadow: 0 0 4px rgba(50,50,50,.75);
    box-shadow: 0 0 4px rgba(50,50,50,.75);
    margin: 0;
    margin-bottom: 10px;
    border: 0;
    background-color: #222;
    -webkit-transition: background-color .5s;
    -moz-transition: background-color .5s;
    -ms-transition: background-color .5s;
    -o-transition: background-color .5s;
    transition: background-color .5s;
}


    .navbar .nav.navbar-nav > li > a {
        color: #fff;
        position: relative;
        padding-top: 25px;
        padding-bottom: 15px;
        -webkit-transition: padding .5s;
        -moz-transition: padding .5s;
        -ms-transition: padding .5s;
        -o-transition: padding .5s;
        transition: padding .5s;
        font-weight: 300;
        font-size: 15px;
    }

        .navbar .nav.navbar-nav > li > a:focus {
            background: 0 0;
        }

        .navbar .nav.navbar-nav > li > a .fa {
            color: #3498db;
        }

        .navbar .nav.navbar-nav > li > a .caret {
            border-bottom-color: #3498db;
            border-top-color: #3498db;
        }

        .navbar .nav.navbar-nav > li > a:hover {
            padding-top: 40px;
            padding-bottom: 20px;
            background: rgba(0,0,0,.05);
        }

    .navbar .nav.navbar-nav > li.active > a {
        background: #3498db;
        color: #fff;
    }

        .navbar .nav.navbar-nav > li.active > a .fa {
            color: #8bc4ea;
        }

        .navbar .nav.navbar-nav > li.active > a .caret {
            border-bottom-color: #fff;
            border-top-color: #fff;
        }

    .navbar .nav.navbar-nav > li.open > a {
        padding-top: 40px;
        padding-bottom: 20px;
        background-color: #196090;
        color: #fff;
    }

        .navbar .nav.navbar-nav > li.open > a .fa {
            color: #8bc4ea;
        }

        .navbar .nav.navbar-nav > li.open > a .caret {
            border-bottom-color: #fff;
            border-top-color: #fff;
        }

    .navbar .nav.navbar-nav > li.open .dropdown-menu {
        -webkit-transform: scale(1,1);
        -ms-transform: scale(1,1);
        transform: scale(1,1);
        visibility: visible;
    }

    .navbar .nav.navbar-nav > li .dropdown-menu {
        display: block;
        visibility: hidden;
        border: 0;
        background-color: #196090;
        color: #fff;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition: -webkit-transform .5s;
        -moz-transition: -moz-transform .5s;
        -o-transition: -o-transform .5s;
        transition: transform .5s;
        -webkit-transform-origin: left top;
        -ms-transform-origin: left top;
        transform-origin: left top;
        -webkit-transform: scale(1,0);
        -ms-transform: scale(1,0);
        transform: scale(1,0);
        border-radius: 0;
    }

        .navbar .nav.navbar-nav > li .dropdown-menu li a {
            color: #fff;
            -webkit-transition: background .3s;
            transition: background .3s;
        }

            .navbar .nav.navbar-nav > li .dropdown-menu li a:hover {
                background-color: #3498db !important;
            }

        .navbar .nav.navbar-nav > li .dropdown-menu li form {
            padding: 10px 20px;
            width: 300px;
        }

        .navbar .nav.navbar-nav > li .dropdown-menu li.active a {
            background-color: #217dbb;
        }

        .navbar .nav.navbar-nav > li .dropdown-menu .divider {
            background-color: #16527a;
        }

    .navbar .navbar-brand {
        padding-top: 20px;
        padding-bottom: 30px;
        text-transform: uppercase;
        -webkit-transition: padding .5s,font-size .1s;
        transition: padding .5s,font-size .1s;
        font-weight: 400;
        color: #fff;
        font-size: 18px;
    }

        .navbar .navbar-brand img {
            height: 40px;
            margin: -10px 10px -10px 10px;
            border: 0;
            padding: 0;
            vertical-align: top;
            transition: margin .5s;
        }


.input-date {
    width: 60px;
}

.dropbox {
    cursor: pointer;
    border: 3px dashed #ddd;
    font-size: 15px;
    text-align: center;
    color: #808080;
    height: 240px;
    padding: 10px;
}


input[type='number'] {
    -moz-appearance: textfield;
}

/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

fieldset {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #f5f5f5;
    min-height: 85vh;
}

@-moz-document url-prefix() {
    fieldset {
        display: table-cell;
    }
}

fieldset legend {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    display: inline-block;
    font-size: 18px;
    margin: 0;
    margin-right: 10px;
    padding: 0 15px 5px;
    width: auto;
    color: #555;
    line-height: 25px;
    font-weight: bold;
}

table td {
    text-align: center;
}

.btn-back {
    position: absolute;
    left: 20px;
    top: 0;
}

@media only screen and (max-width : 768px) {
    .btn-back {
        position: relative;
        float: left;
        left: -20px;
        top: 0;
    }
}

.st-sort-ascent:before {
    content: '\25B2';
}

.st-sort-descent:before {
    content: '\25BC';
}

.table th {
    text-align: center;
}
