@{
    ViewBag.Title = "ورود به سامانه";
}
@section styles{
    @Styles.Render("~/Content/angularParts")
}
<div ng-app="accountApp" class="container" style="position: relative;" ng-cloak>
    <div ng-view class="fx-zoom-normal fx-speed-400 fx-easing-sine" autoscroll></div>
    <toaster-container toaster-options="{'position-class': 'toast-top-center', 'newest-ontop': 'false'}"></toaster-container>
</div>

@section scripts{

    @Scripts.Render("~/bundles/common")
    @Scripts.Render("~/bundles/account")

}