<style>
    .modal-dialog {
        width: 75%;
        height: 80%;
        padding: 0;
    }

    /*.modal-content {
        height: 100%;
        border-radius: 0;
    }*/

    .modal .modal-body {
    /*max-height: 100%;*/
    overflow-y: auto;
}
    .modal-footer {
        /*position: absolute;
        right: 0;
        bottom: 0;*/
        width: 100%;
        text-align: right;
    }
</style>
<div class="panel panel-primary">
    <div class="panel-heading">
        اسامی داوطلبان شرکت در مسابقه
    </div>
    <table st-safe-src="competitorsList" st-table="displayedCompetitorsList" class="table table-striped table-bordered table-hover table-condensed th-center">
        <thead>
            <tr>
                <th>ردیف</th>
                <th st-sort="firstName" st-sort-default>تصویر</th>
                <th st-sort="firstName" st-sort-default>نام</th>
                <th st-sort="lastName">نام خانوادگی</th>
                <th st-sort="sportDetail.name">کد ملی</th>
                <th st-sort="sportDetail.name">وضعیت</th>
                <th>عملیات</th>
            </tr>
            <tr>
                <th></th>
                <th>
                    <input st-search="firstName" placeholder="جستجو در نام" class="input-sm form-control" type="search" />
                </th>
                <th>
                    <input st-search="lastName" placeholder="جستجو در نام خانوادگی" class="input-sm form-control" type="search" />
                </th>
                <th>
                    <input st-search="nationalCode" placeholder="جستجو در کد ملی" class="input-sm form-control" type="search" />
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in displayedCompetitorsList" class="fx-fade-down">
                <td class="vert-align">{{$index+1}}</td>
                <td class="vert-align"><img style="width: 100px; height: 100px;" ng-src="/file/home/getuserimage?fileName={{user.userImage}}" alt="Alternate Text" /></td>
                <td class="vert-align">{{user.firstName}}</td>
                <td class="vert-align">{{user.lastName}}</td>
                <td class="vert-align">{{user.nationalCode}}</td>
                <td class="vert-align">{{user.isApproved}}</td>
                <td class="vert-align">
                    <a ng-click="openCompetitorModal(user)" href="#/readiness/competitors/{{participationId}}?modal={{user.id}}" class="btn btn-info btn-sm">
                        <i class="fa fa-eye fa-lg"></i> نمایش اطلاعات
                    </a>
                    <a href="" class="btn btn-info btn-sm">
                        <i class="fa fa-eye fa-lg"></i> مسابقه دهنده‌ها
                    </a>
                    <div ng-if="user.isApproved == null">
                        <button ng-click="rejectParticipation(user)" class="btn btn-danger btn-sm" href="#">
                            <i class="fa fa-remove fa-lg"></i> رد کردن
                        </button>
                        <button ng-click="approveParticipation(user)" class="btn btn-success btn-sm">
                            <i class="fa fa-check fa-lg"></i> تایید کردن
                        </button>
                    </div>
                    <div ng-if="user.isApproved == true">
                        <button ng-click="rejectParticipation(user)" class="btn btn-danger btn-sm" href="#">
                            <i class="fa fa-remove fa-lg"></i> رد کردن
                        </button>
                    </div>
                    <div ng-if="user.isApproved == false">
                        <button ng-click="approveParticipation(user)" class="btn btn-success btn-sm">
                            <i class="fa fa-check fa-lg"></i>  تایید کردن
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<script type="text/ng-template" id="showCompetitiorModal.html">
    <form name="frmApproveCompetitior" novalidate ng-sumbit="saveChanges()">
        <div ng-cloak>
            <div class="modal-header">
                <h3 class="modal-title"></h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <dl class="dl-horizontal">
                            <dt>نام:</dt>
                            <dd>{{competitor.firstName}}</dd>
                        </dl>
                    </div>
                    <div class="col-md-4">
                        <dl class="dl-horizontal">
                            <dt>نام خانوادگی:</dt>
                            <dd>{{competitor.lastName}}</dd>
                        </dl>
                    </div>
                    <div class="col-md-4">
                        <dl class="dl-horizontal">
                            <dt>نام پدر:</dt>
                            <dd>{{competitor.fatherName}}</dd>
                        </dl>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <dl class="dl-horizontal">
                            <dt>تاریخ تولد:</dt>
                            <dd>{{competitor.birthDate}}</dd>
                        </dl>
                    </div>
                    <div class="col-md-4">
                        <dl class="dl-horizontal">
                            <dt>کد ملی:</dt>
                            <dd>{{competitor.nationalCode}}</dd>
                        </dl>
                    </div>
                    <div class="col-md-4">
                        <dl class="dl-horizontal">
                            <dt>شماره دانشجویی:</dt>
                            <dd>{{competitor.studentNumber}}</dd>
                        </dl>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <dl class="dl-horizontal">
                            <dt>پست الکترونیکی:</dt>
                            <dd>{{competitor.email}}</dd>
                        </dl>
                    </div>
                    <div class="col-md-4">
                        <dl class="dl-horizontal">
                            <dt>تلفن همراه:</dt>
                            <dd>{{competitor.mobileNumber}}</dd>
                        </dl>
                    </div>
                    <div class="col-md-4">
                        <dl class="dl-horizontal">
                            <dt>تلفن ثابت:</dt>
                            <dd>{{competitor.phoneNumber}}</dd>
                        </dl>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <dl class="dl-horizontal">
                            <dt>رشته تحصیلی:</dt>
                            <dd>{{competitor.studyField}}</dd>
                        </dl>
                    </div>
                    <div class="col-md-4">
                        <dl class="dl-horizontal">
                            <dt>مقطع تحصیلی:</dt>
                            <dd>{{competitor.studyFieldDegree}}</dd>
                        </dl>
                    </div>
                    <div class="col-md-4">
                        <dl class="dl-horizontal">
                            <dt>شماره کارت بیمه:</dt>
                            <dd>{{competitor.insuranceNumber}}</dd>
                        </dl>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <dl class="dl-horizontal">
                            <dt>تاریخ اتمام بیمه:</dt>
                            <dd>{{competitor.insuranceEndDate}}</dd>
                        </dl>
                    </div>
                    <div class="col-md-4">
                        <dl class="dl-horizontal">
                            <dt>وزن:</dt>
                            <dd>{{competitor.weight}}</dd>
                        </dl>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-4">
                        <dl class="dl-horizontal">
                            <dt>عکس:</dt>
                            <dd><img style="height:120px;" ng-src="/file/home/getuserimage?fileName={{competitor.userImage}}" alt="Alternate Text" /></dd>
                        </dl>
                    </div>
                    <div class="col-md-4">
                        <dl class="dl-horizontal">
                            <dt>گواهی اشتغال به تحصیل:</dt>
                            <dd><img style="height:120px;" ng-src="/file/home/getstudentcertificateimage?fileName={{competitor.studentCertificateImage}}" alt="Alternate Text" /></dd>
                        </dl>
                    </div>
                    <div class="col-md-4">
                        <dl class="dl-horizontal">
                            <dt>کارت بیمه:</dt>
                            <dd><img style="height:120px;" ng-src="/file/home/getinsuranceimage?fileName={{competitor.insuranceImage}}" alt="Alternate Text" /></dd>
                        </dl>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="inputPassword3" class="col-lg-2 control-label">وضعیت</label>
                        <div class="btn-group">
                            <label class="btn btn-info" ng-model="viewModel.competitor.isApproved" btn-radio="null">بررسی نشده</label>
                            <label class="btn btn-info" ng-model="viewModel.competitor.isApproved" btn-radio="true">تایید شده</label>
                            <label class="btn btn-info" ng-model="viewModel.competitor.isApproved" btn-radio="false">تایید نشده</label>
                        </div>
                    </div>
                    <div class="form-group fx-fade-down" ng-show="viewModel.competitor.isApproved == false">
                        <label class="col-lg-1 control-label"></label>
                        <div class="col-lg-6">
                            <div ckeditor="editorOptions" ng-model="viewModel.competitor.error" ready=""></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning" ng-click="cancel()">بستن</button>
                <button ng-click="saveChanges()" class="btn btn-success" >ذخیره تغییرات</button>
            </div>
        </div>
    </form>
</script>
