<fieldset>
    <legend>اعلام آمادگی در مسابقات</legend>
    <div class="row">
        <div class="col-md-4" style="margin: 10px 0 20px 0;">
            <ui-select ng-required="true" name="userUniversity" ng-model="viewModel.selectedCompetition" theme="bootstrap" on-select="onCompetitionSelect($item, $model)">
                <ui-select-match allow-clear="false" placeholder="مسابقه مورد نظر را انتخاب کنید">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="item as item in competitionsList | filter: $select.search">
                    <span ng-bind-html="item.name | highlight: $select.search"></span>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 fx-fade-down" ng-show="competitionSportsList.length > 0 ">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    فهرست رشته های ورزشی ارائه شده برای {{viewModel.selectedCompetition.name}}
                </div>
                <div class="table-responsive">
                    <table st-safe-src="competitionSportsList" st-table="displayedCompetitionSportsList" class="table table-striped table-bordered table-hover table-condensed th-center">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th st-sort="name" st-sort-default="true">رشته</th>
                            <th st-sort="readinessNumber">تعداد اعلام آمادگی</th>
                            <th st-sort="approvedNumber">تعداد تایید شده</th>
                            <th st-sort="rejectedNumber">تعداد رد شده</th>
                            <th>عملیات</th>
                        </tr>
                        <tr>
                            <th></th>
                            <th>
                                <input st-search="name" placeholder="جستجو در رشته" class="input-sm form-control" type="search"/>
                            </th>
                            <th>
                            </th>
                            <th>
                            </th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row in displayedCompetitionSportsList" class="fx-fade-down">
                            <td class="vert-align">{{$index+1}}</td>
                            <td class="vert-align">{{row.name}} {{row.gender| gender:'plural' }}</td>
                            <td class="vert-align">{{row.readinessNumber}}</td>
                            <td class="vert-align">{{row.approvedNumber}}</td>
                            <td class="vert-align">{{row.rejectedNumber}}</td>
                            <td class="vert-align">
                                <a class="btn btn-info btn-sm" href="#/readiness/users/{{row.id}}">
                                    <i class="fa fa-eye fa-lg"></i> نمایش واحد‌های دانشگاهی
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</fieldset>