<fieldset>
    <legend>اسلایدشو</legend>
    <div class="row">
        <div class="col-md-5" style="padding-top: 15px; padding-bottom: 20px;">
            <a href="#/slideshow/add" class="btn btn-success">
                <i class="fa fa-lg fa-plus"></i> افزودن اسلاید
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    فهرست اسلایدهای تصاویر
                </div>
                <div class="table-responsive">
                    <table st-resize st-safe-src="slides" st-table="displayedSlides" class="table table-bordered table-hover table-condensed th-center">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th><span>تصویر</span></th>
                                <th><span>عنوان</span></th>
                                <th><span>لینک</span></th>
                                <th><span>ترتیب</span></th>
                                <th>عملیات</th>
                            </tr>
                            <tr>
                                <th></th>
                                <th></th>
                                <th><input st-search="title" placeholder="جستجو در عنوان" class="input-sm form-control" type="search" /></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in displayedSlides" class="fx-fade-down">
                                <td>{{$index+1}}</td>
                                <td class="vert-align"><a href="/content/slideshowimages/{{row.image}}" target="_blank"><img ng-src="/content/slideshowimages/{{row.image}}" style="max-width: 200px; max-height: 100px;" /></a></td>
                                <td class="vert-align">{{row.title}}</td>
                                <td class="vert-align"><a href="{{row.link}}" target="_blank" class="btn btn-link">لینک</a> </td>
                                <td class="vert-align">{{row.order}}</td>
                                <td class="vert-align">
                                    <a class="btn btn-primary btn-sm" href="#/slideshow/edit/{{row.id}}">
                                        <i class="fa fa-edit fa-lg"></i> ویرایش
                                    </a>
                                    <button class="btn btn-danger btn-sm" ng-click="deleteSlideShow($index,row)">
                                        <i class="fa fa-trash-o fa-lg"></i> حذف
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</fieldset>

<script type="text/ng-template" id="deleteSlideShow.html">
    <div class="modal-header">
        <h3 class="modal-title"></h3>
    </div>
    <div class="modal-body">
        <div class="alert alert-danger">
            آیا از حذف اسلاید مورد نظر مطمئن هستید؟
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="cancel()">انصراف</button>
        <button class="btn btn-danger" ng-click="ok()">بله</button>
    </div>
</script>





