@{
    ViewBag.Title = "مدیریت سامانه برگزاری مسابقات ورزشی";
}
<div ng-view class="fx-zoom-normal fx-speed-400 fx-easing-sine" autoscroll></div>
<toaster-container toaster-options="{'position-class': 'toast-top-center', 'newest-ontop': 'true'}"></toaster-container>

