@{
    ViewBag.Title = "خطا در پردازش درخواست";
}
<div class="container" style="margin-top: 20px;">
    <div class="alert alert-danger">
        <h1>خطا.</h1>
        <h2>خطایی در پردازش درخواست شما رخ داد.</h2>
        <h3>لطفا چند لحظه دیگر، درخواست خود را مجددا تکرار کنید.</h3>
        <p style="margin-top: 15px;">ما خطای به وجود آمده را ثبت کرده‌ایم و در اولین فرصت بررسی خواهیم کرد.</p>
    </div>
</div>

