<div class="row" style="margin-top:30px;">
    <div class="container text-center">
        <div class="row" style="margin-top: 20px; margin-bottom: 20px;">
            <div class="container">
                <div class="col-md-12">
                    <h2 class="text-center" style="color: #666666; font-size: 24px; font-weight: normal !important; line-height: 1.6em;">دریافت کارت مسابقات</h2>
                    <div class="text-center" style="border-bottom: 1px solid #ebebeb; width: 50%; height: 15px; background: transparent; margin: auto;">
                        <i style="padding: 0 20px; background-color: #fff; color: #d8d8d8;" class="fa fa-credit-card fa-2x"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12" style="margin-top: 15px;">
            <h2 ng-repeat="competition in competitionsList">
                <a class="text-danger" href="/report/cards/getallcards?competitionId={{competition.id}}">دریافت کارت {{competition.name}}</a>
            </h2>
            <div class="alert alert-danger" ng-if="competitionsList.length == 0">
                <p>در حال حاضر امکان دریافت کارت برای مسابقه‌ای وجود ندارد.</p>
            </div>
        </div>
    </div>
</div>


