@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{

    <link href="~/Content/select.css" rel="stylesheet" />
}

<h2>Register</h2>

<div class="form-horizontal" ng-controller="RegisterRepresentativeUser">
    <div class="row">
        <div class="form-group col-lg-6">
            <label for="exampleInputEmail1" class="control-label col-lg-4">نام</label>
            <div class="col-lg-8">
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter email" ng-model="representativeUser.firstName">
            </div>
        </div>
        <div class="form-group col-lg-6">
            <label for="exampleInputEmail1" class="control-label col-lg-4">نام خانوادگی</label>
            <div class="col-lg-8">
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter email" ng-model="representativeUser.lastName">
            </div>
        </div>

    </div>
    <div class="row">
        <div class="form-group col-lg-6">
            <label for="exampleInputEmail1" class="control-label col-lg-4">نام پدر</label>
            <div class="col-lg-8">
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter email" ng-model="representativeUser.fatherName">
            </div>
        </div>
        <div class="form-group col-lg-6">
            <label for="exampleInputEmail1" class="control-label col-lg-4">واحد دانشگاهی</label>
            <div class="col-lg-8">
                <ui-select ng-model="representativeUser.university" theme="bootstrap" reset-search-input="true">
                    <ui-select-match placeholder="Select or search a person in the list...">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="item in universityList | filter: $select.search">
                        <span ng-bind-html="item.name | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="form-group col-lg-6">
            <label for="exampleInputEmail1" class="control-label col-lg-4">کد ملی ده رقمی</label>
            <div class="col-lg-8">
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter email" ng-model="representativeUser.nationalCode">
            </div>
        </div>
        <div class="form-group col-lg-6">
            <label for="exampleInputEmail1" class="control-label col-lg-4">پست الکترونیکی</label>
            <div class="col-lg-8">
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter email" ng-model="representativeUser.email">
            </div>
        </div>

    </div>
    <div class="row">
        <div class="form-group col-lg-6">
            <label for="exampleInputEmail1" class="control-label col-lg-4">تلفن همراه</label>
            <div class="col-lg-8">
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter email" ng-model="representativeUser.mobileNumber">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="">
            <button class="btn btn-success col-lg-offset-2" ng-click="registerRepresentativeUser()"><i class="fa fa-lg fa-user-plus"></i> ثبت نام</button>
        </div>
    </div>

</div>

@section scripts{
    <script src="~/Scripts/select.js"></script>
    <script src="~/Scripts/angular-sanitize.js"></script>
    <script>

        var app = angular.module('app', ['ui.select', 'ngSanitize']);


        app.controller('RegisterRepresentativeUser', function ($scope, $http) {

            $scope.universityList = [];

            $scope.representativeUser = {};

            $http.get('/university/home/getuniversitieslist').success(function (data) {

                $scope.universityList = data;
            });

            $scope.registerRepresentativeUser = function () {

                $scope.representativeUser.universityId = $scope.representativeUser.university.id;

                $http.post('/representativeuser/register/index', $scope.representativeUser).success(function (data) {
                   
                });
            };


        });

    </script>
}