<fieldset>
    <legend>تغییر کلمه عبور</legend>
    <form name="frmChangePassword" class="form-horizontal form-group-sm" role="form" novalidate ng-submit="changePassword()">
        <div class="form-group">
            <label for="rptpassword" class="col-md-2 control-label"><span ng-show="showError(frmChangePassword.currentPassword,'required')" class="glyphicon text-danger mandatory fx-fade-normal">*</span> کلمه عبور فعلی</label>
            <div class="col-md-4 has-feedback ltr">
                <input type="password" class="form-control ltr" name="currentPassword" ng-model="user.currentPassword" ng-required="true" ng-model-options="{ updateOn: 'default blur', debounce: { default: 1000, blur: 0 } }">
                <span class="glyphicon glyphicon-ok form-control-feedback text-success fx-fade-normal" ng-hide="isInvalid(frmChangePassword.currentPassword)"></span>
                <span class="glyphicon glyphicon-remove form-control-feedback text-danger fx-fade-normal" ng-show="hasError(frmChangePassword.currentPassword)"></span>
                <div class="text-danger col-md-12" ng-show="hasError(frmChangePassword.currentPassword)">
                    <div class="popover bottom show fx-fade-down" ng-show="hasError(frmChangePassword.currentPassword)">
                        <div class="arrow"></div>
                        <div class="popover-content">
                            <p ng-if="showError(frmChangePassword.currentPassword,'required')">لطفا کلمه عبور فعلی را وارد نمایید</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="rptpassword" class="col-md-2 control-label"><span ng-show="showError(frmChangePassword.newPassword,'required')" class="glyphicon text-danger mandatory fx-fade-normal">*</span> کلمه عبور جدید</label>
            <div class="col-md-4 has-feedback ltr">
                <input type="password" class="form-control ltr" name="newPassword" ng-model="user.newPassword" ng-required="true" ng-model-options="{ updateOn: 'default blur', debounce: { default: 1000, blur: 0 } }" ng-pattern="passwordRegEx" ng-minlength="6" ng-maxlength="20">
                <span class="glyphicon glyphicon-ok form-control-feedback text-success fx-fade-normal" ng-hide="isInvalid(frmChangePassword.newPassword)"></span>
                <span class="glyphicon glyphicon-remove form-control-feedback text-danger fx-fade-normal" ng-show="hasError(frmChangePassword.newPassword)"></span>
                <div class="text-danger col-md-12" ng-show="hasError(frmChangePassword.newPassword)">
                    <div class="popover bottom show fx-fade-down" ng-show="hasError(frmChangePassword.newPassword)">
                        <div class="arrow"></div>
                        <div class="popover-content">
                            <p ng-if="showError(frmChangePassword.newPassword,'required')">لطفا کلمه عبور جدید را وارد نمایید</p>
                            <p ng-if="showError(frmChangePassword.newPassword,'pattern')">کلمه عبور باید شامل حروف انگلیسی و حداقل یک عدد باشد</p>
                            <p ng-if="showError(frmChangePassword.newPassword,'minlength')">کلمه عبور باید حداقل 6 حرف باشد</p>
                            <p ng-if="showError(frmChangePassword.newPassword,'maxlength')">کلمه عبور باید حداکثر 20 حرف باشد</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="rptpassword" class="col-md-2 control-label"><span ng-show="showError(frmChangePassword.confirmPassword,'required')" class="glyphicon text-danger mandatory fx-fade-normal">*</span> تکرار کلمه عبور</label>
            <div class="col-md-4 has-feedback ltr">
                <input type="password" class="form-control ltr" name="confirmPassword" ng-model="user.confirmPassword" ng-required="true" ng-model-options="{ updateOn: 'default blur', debounce: { default: 1000, blur: 0 } }" match="user.newPassword">
                <span class="glyphicon glyphicon-ok form-control-feedback text-success fx-fade-normal" ng-hide="isInvalid(frmChangePassword.confirmPassword)"></span>
                <span class="glyphicon glyphicon-remove form-control-feedback text-danger fx-fade-normal" ng-show="hasError(frmChangePassword.confirmPassword)"></span>
                <div class="text-danger col-md-12" ng-show="hasError(frmChangePassword.confirmPassword)">
                    <div class="popover bottom show fx-fade-down" ng-show="hasError(frmChangePassword.confirmPassword)">
                        <div class="arrow"></div>
                        <div class="popover-content">
                            <p ng-if="showError(frmChangePassword.confirmPassword,'required')">لطفا تکرار کلمه عبور را وارد نمایید</p>
                            <p ng-if="showError(frmChangePassword.confirmPassword,'match')">تکرار کلمه عبور با کلمه عبور یکسان نیست</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="alert alert-danger fx-fade-down" ng-show="errors.length > 0">
            <ul>
                <li ng-repeat="error in errors">{{error}}</li>
            </ul>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                <button ng-disabled="frmChangePassword.$invalid" type="submit" class="btn btn-primary">تغییر کلمه عبور</button>
            </div>
        </div>

    </form>
</fieldset>
